* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-color {
  color: #61dafb;
}

.App-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100vw;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: hidden;
}

.App-header {
  cursor: pointer;
}

.App-data {
}
